/* .toast-message {
    background: rgb(163, 147, 246);
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 34vw;
    padding: 30px 20px;
} */

  h1,h2{
    text-align: center;
  }